/* This is a CSS-style comment */
/* The pre-defined colour names are from http://www.w3schools.com/cssref/css_colornames.asp */
body {
    padding: 50px 20%;
}

p {
    color: darkslategray;
    font-family: Georgia, serif;
    text-align: justify;
    /*font-style: italic;*/
}

h1, h2, h3, b, strong {
        color: plum;
}

h1, h3 {
    text-align: center;
}
h1 {
    text-transform: uppercase;
}
h2{
    text-align: right;
    border-bottom: solid 1px;
    border-color: darkslategray;
}

hr {
    border: lightslategray dotted thin;
    width: 50%;
}
#big-achievement{
    color: red;
}

.italize{
    font-style: italic;
}

/* strong and em define no particular formatting. They merely indicate that the embedded content should be emphasised. */

b, strong { font-weight: bold; } /* bold tends to be the default for "strong", but it's good to set this explicitly */

/*
	The default for em tends to be italics, but it's good to be explicit.
	Our em is going to be both italic and bold.
 */
i, em {
    font-style: italic;
    font-weight: bold;
}
